.random-planet {
  display: flex;
  background: #333;
  border-radius: 3px;
  padding: 1.5rem 2rem;
  margin: 2rem 0;
}
.random-planet .props-list {
  list-style: none;
  padding-left: 1rem;
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 30px;
}
